<%- include('parts/header') %>
<%- include('parts/navbar') %>

<a class="btn btn-primary" href="/login">Login</a>
<a class="btn btn-primary" href="/register">register</a>
<%- include('parts/footer') %>